<style>
    h1 {
    font-family: 'Segoe UI Semibold';
    font-size: 40px;
    text-align: center;
  }
</style>

# Proyecto 3: Saber 11

<style>
  .image {
            overflow: hidden;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
  .container {
            width: 100%;
            height: 300px;
        }

</style>

<div class="container">
    <img src="../img/image.png" class="image"/>
</div>

<style>
  p {
    font-family: 'Segoe UI Light';
    font-size: 20px;
    text-align: center;
  }
</style>

<div style="text-align: center;">
  Analítica Computacional para la Toma de Decisiones IIND-4130 <br>
  Universidad de los Andes &copy; 2024 <br>
  19 de noviembre de 2024 <br><br>
  <strong>GRUPO 7:</strong> <br>
  Laura Calderón - 202122045 <br>
  Camilo Duque - 202024289<br>
  Daniela Espinosa - 202022615<br>
</div>

## **Tarea 5**
Dashboard

### Organizar Datos para Renderizar en la Interfaz

In [59]:
import importlib
import Tarea2script as ts
importlib.reload(ts)

Total de registros: 100049
Total de columnas: 41

Resumen de columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100049 entries, 0 to 100048
Data columns (total 41 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   periodo                      100049 non-null  int64
 1   estu_tipodocumento           100049 non-null  object
 2   cole_area_ubicacion          100049 non-null  object
 3   cole_bilingue                91518 non-null   object
 4   cole_calendario              100049 non-null  object
 5   cole_caracter                99600 non-null   object
 6   cole_codigo_icfes            100049 non-null  int64
 7   cole_genero                  100049 non-null  object
 8   cole_jornada                 100049 non-null  object
 9   cole_mcpio_ubicacion         100049 non-null  object
 10  cole_naturaleza              100049 non-null  object
 11  cole_nombre_establecimiento  100049 non-null  object
 12  cole_nombre_sede             100049 non-null  object
 13  cole_sede_principal          100049 non-null  object
 14  estu_depto_presentacion      100049 non-null  object
 15  estu_depto_reside            99987 non-null   object
 16  estu_estadoinvestigacion     100049 non-null  object
 17  estu_estudiante              100049 non-null  object
 18  estu_fechanacimiento         100049 non-null  object
 19  estu_genero                  99934 non-null   object
 20  estu_mcpio_presentacion      100049 non-null  object
 21  estu_mcpio_reside            99987 non-null   object
 22  estu_nacionalidad            100049 non-null  object
 23  estu_pais_reside             100049 non-null  object
 24  estu_privado_libertad        100049 non-null  object
 25  fami_cuartoshogar            98508 non-null   object
 26  fami_educacionmadre          97667 non-null   object
 27  fami_educacionpadre          97668 non-null   object
 28  fami_estratovivienda         97407 non-null   object
 29  fami_personashogar           98451 non-null   object
 30  fami_tieneautomovil          98509 non-null   object
 31  fami_tienecomputador         98560 non-null   object
 32  fami_tieneinternet           97585 non-null   object
 33  fami_tienelavadora           98558 non-null   object
 34  desemp_ingles                100047 non-null  object
 35  punt_ingles                  100047 non-null  float64
 36  punt_matematicas             100049 non-null  float64
 37  punt_sociales_ciudadanas     100049 non-null  int64
 38  punt_c_naturales             100049 non-null  int64
 39  punt_lectura_critica         100049 non-null  int64
 40  punt_global                  100049 non-null  int64
dtypes: float64(2), int64(6), object(33)
memory usage: 31.3+ MB
None
Número de filas duplicadas: 0
                      Valores Faltantes  Porcentaje (%)
cole_bilingue                      8531        8.526822
fami_estratovivienda               2642        2.640706
fami_tieneinternet                 2464        2.462793
fami_educacionmadre                2382        2.380833
fami_educacionpadre                2381        2.379834
fami_personashogar                 1598        1.597217
fami_cuartoshogar                  1541        1.540245
fami_tieneautomovil                1540        1.539246
fami_tienelavadora                 1491        1.490270
fami_tienecomputador               1489        1.488271
cole_caracter                       449        0.448780
estu_genero                         115        0.114944
estu_depto_reside                    62        0.061970
estu_mcpio_reside                    62        0.061970
desemp_ingles                         2        0.001999
punt_ingles                           2        0.001999
Columnas con 95% o más de valores repetidos:
                          Proporción Max (%) Valor Más Común
cole_calendario                   100.000000               A
estu_estudiante                   100.000000      ESTUDIANTE
estu_privado_libertad              99.947026               N
estu_estadoinvestigacion           99.917041        PUBLICAR
estu_nacionalidad                  99.909045        COLOMBIA
estu_pais_reside                   99.909045        COLOMBIA
estu_depto_reside                  99.371308          BOYACA
estu_depto_presentacion            98.460754          BOYACA
cole_genero                        97.716119           MIXTO
cole_sede_principal                97.330308               S
Columnas numéricas:
Index(['periodo', 'cole_codigo_icfes', 'punt_ingles', 'punt_matematicas',
       'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica',
       'punt_global'],
      dtype='object')
Total de columnas numéricas: 8

Se imputaan valores faltante en columnas categóricas con la moda:
 'cole_bilingue':  N
 'fami_estratovivienda':  Estrato 2
 'fami_tieneinternet':  No
 'fami_educacionmadre':  Secundaria (Bachillerato) completa
 'fami_educacionpadre':  Primaria incompleta
 'fami_tieneautomovil':  No
 'fami_tienelavadora':  Si
 'fami_tienecomputador':  Si
 'cole_caracter':  TÉCNICO/ACADÉMICO
 'estu_genero':  F
 'fami_personashogar':  3 a 4
 'fami_cuartoshogar':  Tres
 'desemp_ingles':  A-
 'estu_mcpio_reside':  TUNJA

Se imputaan valores faltante en columnas numéricas con la media:
 'punt_ingles': 51.63191300088958
 'punt_global': 264.74132674989255

Valores faltantes restantes por columna después de la imputación:
Series([], dtype: int64)
Total de registros: 100049
Total de columnas: 18
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100049 entries, 0 to 100048
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   periodo               100049 non-null  int64
 1   cole_area_ubicacion   100049 non-null  object
 2   cole_bilingue         100049 non-null  object
 3   cole_caracter         100049 non-null  object
 4   cole_jornada          100049 non-null  object
 5   cole_naturaleza       100049 non-null  object
 6   estu_genero           100049 non-null  object
 7   estu_mcpio_reside     100049 non-null  object
 8   fami_cuartoshogar     100049 non-null  object
 9   fami_educacionmadre   100049 non-null  object
 10  fami_educacionpadre   100049 non-null  object
 11  fami_estratovivienda  100049 non-null  object
 12  fami_personashogar    100049 non-null  object
 13  fami_tieneautomovil   100049 non-null  object
 14  fami_tienecomputador  100049 non-null  object
 15  fami_tieneinternet    100049 non-null  object
 16  fami_tienelavadora    100049 non-null  object
 17  punt_global           100049 non-null  int64
dtypes: int64(2), object(16)
memory usage: 13.7+ MB
None
Columna 'periodo': Min = 20142, Max = 20224
Columna 'punt_global': Min = 0, Max = 471
Columna: cole_area_ubicacion
  RURAL -> 0
  URBANO -> 1
------------------------------
Columna: cole_bilingue
  N -> 0
  S -> 1
------------------------------
Columna: cole_caracter
  ACADÉMICO -> 0
  NO APLICA -> 1
  TÉCNICO -> 2
  TÉCNICO/ACADÉMICO -> 3
------------------------------
Columna: cole_jornada
  COMPLETA -> 0
  MAÑANA -> 1
  NOCHE -> 2
  SABATINA -> 3
  TARDE -> 4
  UNICA -> 5
------------------------------
Columna: cole_naturaleza
  NO OFICIAL -> 0
  OFICIAL -> 1
------------------------------
Columna: estu_genero
  F -> 0
  M -> 1
------------------------------
Columna: estu_mcpio_reside
  ACACÍAS -> 0
  AGUACHICA -> 1
  ALBANIA -> 2
  ALMEIDA -> 3
  AQUITANIA -> 4
  ARCABUCO -> 5
  ARMENIA -> 6
  BARBOSA -> 7
  BARRANCABERMEJA -> 8
  BARRANQUILLA -> 9
  BELLO -> 10
  BELÉN -> 11
  BERBEO -> 12
  BETÉITIVA -> 13
  BOAVITA -> 14
  BOGOTÁ D.C. -> 15
  BOYACÁ -> 16
  BRICEÑO -> 17
  BUCARAMANGA -> 18
  BUENAVISTA -> 19
  BUSBANZÁ -> 20
  CAJICÁ -> 21
  CALDAS -> 22
  CALI -> 23
  CAMPOHERMOSO -> 24
  CARMEN DE CARUPA -> 25
  CARTAGENA DE INDIAS -> 26
  CERINZA -> 27
  CHINAVITA -> 28
  CHIQUINQUIRÁ -> 29
  CHISCAS -> 30
  CHITA -> 31
  CHITARAQUE -> 32
  CHIVATÁ -> 33
  CHIVOR -> 34
  CHOCONTÁ -> 35
  CHÍA -> 36
  CHÍQUIZA -> 37
  CIMITARRA -> 38
  CIÉNEGA -> 39
  COPER -> 40
  CORRALES -> 41
  COTA -> 42
  COVARACHÍA -> 43
  CUBARÁ -> 44
  CUCAITA -> 45
  CUÍTIVA -> 46
  CÁCERES -> 47
  CÓMBITA -> 48
  CÚCUTA -> 49
  DUITAMA -> 50
  EL COCUY -> 51
  EL ESPINO -> 52
  ENCINO -> 53
  ENCISO -> 54
  ENVIGADO -> 55
  FACATATIVÁ -> 56
  FIRAVITOBA -> 57
  FLORESTA -> 58
  FLORIDABLANCA -> 59
  FLORIÁN -> 60
  FUNZA -> 61
  FUSAGASUGÁ -> 62
  FÚQUENE -> 63
  GACHANTIVÁ -> 64
  GACHETÁ -> 65
  GARAGOA -> 66
  GUACAMAYAS -> 67
  GUATEQUE -> 68
  GUAYATÁ -> 69
  GÁMBITA -> 70
  GÁMEZA -> 71
  GÜICÁN DE LA SIERRA -> 72
  IBAGUÉ -> 73
  IZA -> 74
  JAMUNDÍ -> 75
  JENESANO -> 76
  JERICÓ -> 77
  LA CAPILLA -> 78
  LA DORADA -> 79
  LA MESA -> 80
  LA UVITA -> 81
  LA VICTORIA -> 82
  LABRANZAGRANDE -> 83
  MACANAL -> 84
  MACARAVITA -> 85
  MADRID -> 86
  MANTA -> 87
  MARIPÍ -> 88
  MEDELLÍN -> 89
  MELGAR -> 90
  MIRAFLORES -> 91
  MONGUA -> 92
  MONGUÍ -> 93
  MONIQUIRÁ -> 94
  MOSQUERA -> 95
  MOTAVITA -> 96
  MUZO -> 97
  NOBSA -> 98
  NUEVO COLÓN -> 99
  NUNCHÍA -> 100
  OIBA -> 101
  OICATÁ -> 102
  ONZAGA -> 103
  OTANCHE -> 104
  PACHAVITA -> 105
  PAIPA -> 106
  PAJARITO -> 107
  PANQUEBA -> 108
  PASTO -> 109
  PAUNA -> 110
  PAYA -> 111
  PAZ DE RÍO -> 112
  PEREIRA -> 113
  PESCA -> 114
  PIEDECUESTA -> 115
  PISBA -> 116
  PUENTE NACIONAL -> 117
  PUERTO BOYACÁ -> 118
  PUERTO COLOMBIA -> 119
  PUERTO NARE -> 120
  PUERTO TRIUNFO -> 121
  PÁEZ -> 122
  QUÍPAMA -> 123
  RAMIRIQUÍ -> 124
  RICAURTE -> 125
  RIONEGRO -> 126
  RONDÓN -> 127
  RÁQUIRA -> 128
  SABOYÁ -> 129
  SAMACÁ -> 130
  SAN ANDRÉS -> 131
  SAN ANTONIO DEL TEQUENDAMA -> 132
  SAN CARLOS -> 133
  SAN EDUARDO -> 134
  SAN GIL -> 135
  SAN JOSÉ DE PARE -> 136
  SAN LUIS DE GACENO -> 137
  SAN MATEO -> 138
  SAN MIGUEL DE SEMA -> 139
  SAN PABLO DE BORBUR -> 140
  SANTA MARTA -> 141
  SANTA MARÍA -> 142
  SANTA ROSA DE VITERBO -> 143
  SANTA SOFÍA -> 144
  SANTANA -> 145
  SARAVENA -> 146
  SASAIMA -> 147
  SATIVANORTE -> 148
  SATIVASUR -> 149
  SIACHOQUE -> 150
  SIMIJACA -> 151
  SINCELEJO -> 152
  SOACHA -> 153
  SOATÁ -> 154
  SOCHA -> 155
  SOCOTÁ -> 156
  SOGAMOSO -> 157
  SOMONDOCO -> 158
  SORA -> 159
  SORACÁ -> 160
  SOTAQUIRÁ -> 161
  SUAITA -> 162
  SUESCA -> 163
  SUSA -> 164
  SUSACÓN -> 165
  SUTAMARCHÁN -> 166
  SUTATENZA -> 167
  SÁCHICA -> 168
  TANGUA -> 169
  TASCO -> 170
  TENJO -> 171
  TENZA -> 172
  TEORAMA -> 173
  TIBANÁ -> 174
  TIBASOSA -> 175
  TIBIRITA -> 176
  TINJACÁ -> 177
  TIPACOQUE -> 178
  TOCA -> 179
  TOCANCIPÁ -> 180
  TOGÜÍ -> 181
  TOLEDO -> 182
  TOTA -> 183
  TUBARÁ -> 184
  TUNJA -> 185
  TUNUNGUÁ -> 186
  TURBACO -> 187
  TURMEQUÉ -> 188
  TUTA -> 189
  TUTAZÁ -> 190
  TÓPAGA -> 191
  UBALÁ -> 192
  VALLEDUPAR -> 193
  VENTAQUEMADA -> 194
  VILLA DE LEYVA -> 195
  VILLA DE SAN DIEGO DE UBATÉ -> 196
  VILLAPINZÓN -> 197
  VIRACACHÁ -> 198
  YOPAL -> 199
  ZAMBRANO -> 200
  ZETAQUIRA -> 201
  ÚMBITA -> 202
------------------------------
Columna: fami_educacionmadre
  Educación profesional completa -> 0
  Educación profesional incompleta -> 1
  Ninguno -> 2
  No Aplica -> 3
  No sabe -> 4
  Postgrado -> 5
  Primaria completa -> 6
  Primaria incompleta -> 7
  Secundaria (Bachillerato) completa -> 8
  Secundaria (Bachillerato) incompleta -> 9
  Técnica o tecnológica completa -> 10
  Técnica o tecnológica incompleta -> 11
------------------------------
Columna: fami_educacionpadre
  Educación profesional completa -> 0
  Educación profesional incompleta -> 1
  Ninguno -> 2
  No Aplica -> 3
  No sabe -> 4
  Postgrado -> 5
  Primaria completa -> 6
  Primaria incompleta -> 7
  Secundaria (Bachillerato) completa -> 8
  Secundaria (Bachillerato) incompleta -> 9
  Técnica o tecnológica completa -> 10
  Técnica o tecnológica incompleta -> 11
------------------------------
Columna: fami_estratovivienda
  Estrato 1 -> 0
  Estrato 2 -> 1
  Estrato 3 -> 2
  Estrato 4 -> 3
  Estrato 5 -> 4
  Estrato 6 -> 5
  Sin Estrato -> 6
------------------------------
Columna: fami_tieneautomovil
  No -> 0
  Si -> 1
------------------------------
Columna: fami_tienecomputador
  No -> 0
  Si -> 1
------------------------------
Columna: fami_tieneinternet
  No -> 0
  Si -> 1
------------------------------
Columna: fami_tienelavadora
  No -> 0
  Si -> 1
------------------------------
Columna: fami_personashogar
  1 a 2 -> 0
  3 a 4 -> 1
  5 a 6 -> 2
  7 a 8 -> 3
  9 o más -> 4
  nan -> 5
------------------------------
Columna: fami_cuartoshogar
  1 -> 0
  2 -> 1
  3 -> 2
  4 -> 3
  5 -> 4
  6 o más -> 5
------------------------------
Frecuencia de valores en 'cole_area_ubicacion':
cole_area_ubicacion
1    84547
0    15502
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'cole_bilingue':
cole_bilingue
0    98927
1     1122
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'cole_caracter':
cole_caracter
3    45951
0    32206
2    21246
1      646
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'cole_jornada':
cole_jornada
0    48411
1    34599
5     6354
4     4745
3     4171
2     1769
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'cole_naturaleza':
cole_naturaleza
1    81513
0    18536
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'estu_genero':
estu_genero
0    53338
1    46711
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'estu_mcpio_reside':
estu_mcpio_reside
185    15672
50     11684
157    11214
29      6273
118     3427
       ...
120        1
163        1
35         1
65         1
169        1
Name: count, Length: 203, dtype: int64
------------------------------
Frecuencia de valores en 'fami_educacionmadre':
fami_educacionmadre
8     25946
7     18248
6     17026
9     13659
0      9303
10     6432
5      2749
11     2063
1      1769
2      1502
4      1267
3        85
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_educacionpadre':
fami_educacionpadre
7     24583
6     19040
8     18693
9     12352
0      7739
10     4666
4      4512
2      2846
5      2181
11     1505
1      1429
3       503
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_estratovivienda':
fami_estratovivienda
1    49978
0    31872
2    13769
3     2772
4      914
6      569
5      175
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_tieneautomovil':
fami_tieneautomovil
0    72205
1    27844
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_tienecomputador':
fami_tienecomputador
1    56955
0    43094
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_tieneinternet':
fami_tieneinternet
0    57527
1    42522
Name: count, dtype: int64
------------------------------
Frecuencia de valores en 'fami_tienelavadora':
fami_tienelavadora
1    60099
0    39950
Name: count, dtype: int64
------------------------------

In [ ]:
ts.dta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100049 entries, 0 to 100048
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   periodo               100049 non-null  int64
 1   cole_area_ubicacion   100049 non-null  int32
 2   cole_bilingue         100049 non-null  int32
 3   cole_caracter         100049 non-null  int32
 4   cole_jornada          100049 non-null  int32
 5   cole_naturaleza       100049 non-null  int32
 6   estu_genero           100049 non-null  int32
 7   estu_mcpio_reside     100049 non-null  int32
 8   fami_cuartoshogar     100049 non-null  int32
 9   fami_educacionmadre   100049 non-null  int32
 10  fami_educacionpadre   100049 non-null  int32
 11  fami_estratovivienda  100049 non-null  int32
 12  fami_personashogar    100049 non-null  int32
 13  fami_tieneautomovil   100049 non-null  int32
 14  fami_tienecomputador  100049 non-null  int32
 15  fami_tieneinternet    100049 non-null  int32
 16  fami_tienelavadora    100049 non-null  int32
 17  punt_global           100049 non-null  int64
dtypes: int32(16), int64(2)
memory usage: 7.6 MB

In [51]:
import numpy as np

names = {
    "cole_area_ubicacion": "Área de Ubicación (Rural o Urbano)",
    "cole_bilingue": "Estado Bilingüe de la Escuela",
    "cole_caracter": "Carácter de la Escuela (Académico, Técnico, etc.)",
    "cole_jornada": "Jornada Escolar (Completa, Mañana, Noche, etc.)",
    "cole_naturaleza": "Naturaleza de la Escuela (Oficial o No Oficial)",
    "estu_genero": "Género del Estudiante (Masculino o Femenino)",
    "estu_mcpio_reside": "Municipio de Residencia del Estudiante",
    "fami_cuartoshogar": "Número de Cuartos en el Hogar",
    "fami_educacionmadre": "Nivel Educativo de la Madre",
    "fami_educacionpadre": "Nivel Educativo del Padre",
    "fami_estratovivienda": "Estratificación Socioeconómica del Hogar",
    "fami_personashogar": "Número de Personas en el Hogar",
    "fami_tieneautomovil": "¿La Familia Tiene Automóvil?",
    "fami_tienecomputador": "¿La Familia Tiene Computador?",
    "fami_tieneinternet": "¿La Familia Tiene Internet?",
    "fami_tienelavadora": "¿La Familia Tiene Lavadora?",
    "periodo": "Periodo de Tiempo (por ejemplo, año o periodo académico)"
}

def convert_to_native_types(obj):
    """Converts NumPy types (e.g., int32) to native Python types (e.g., int)."""
    if isinstance(obj, dict):
        return {key: convert_to_native_types(value) for key, value in obj.items()}
    elif isinstance(obj, list):
        return [convert_to_native_types(item) for item in obj]
    elif isinstance(obj, np.int32):  # Handle numpy int32
        return int(obj)
    elif isinstance(obj, np.float64):  # Handle numpy float64
        return float(obj)
    return obj

t_mapeos = convert_to_native_types(ts.mapeos)
converted_data = {}
for key, options in t_mapeos.items():
    converted_data[key] = {
        "name": names.get(key, ""),
        "options": options
    }

In [ ]:
import json

converted_data
with open('mapeo.json', 'w', encoding='utf-8') as json_file:
    json.dump(converted_data, json_file, ensure_ascii=False, indent=4)

In [58]:
ts.dta.head()

,periodo,cole_area_ubicacion,cole_bilingue,cole_caracter,cole_jornada,cole_naturaleza,estu_genero,estu_mcpio_reside,fami_cuartoshogar,fami_educacionmadre,fami_educacionpadre,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global
0,20224,1,0,2,5,1,1,185,1,10,9,0,1,0,0,0,0,270
1,20224,0,0,0,0,1,0,140,2,0,7,1,1,1,0,0,1,186
2,20224,0,0,3,0,1,0,179,2,8,7,2,1,0,1,1,1,215
3,20224,0,0,2,5,1,1,106,3,9,6,2,2,0,1,1,0,273
4,20224,1,0,3,5,1,1,185,2,8,8,1,1,1,1,1,1,267